@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');



body {
    height: 100vh;
    color: var(--text-color);
    background: #f4e0cb;


}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    ;
    grid-gap: .5rem;
}

.naturepic {
    width: 100%;

    line-height: 0;
    overflow: hidden;
    height: 100%;
    object-fit: cover;

}

.info-card {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90, 0, 10, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#posts-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    position: relative;
}

.post-list {
    position: relative;

}





.naturepic img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

main {
    height: 100%;
}

#avatar-img {
    height: 100px;
    border-radius: 50%;

}



.profile-info-container {
    border: green;
    border-style: solid;
    display: flex;
}

.profile-info-container {
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.username-header {
    font-size: xx-large;
}

#posts-section:hover .info-card {
    opacity: 1;
}

#posts-section:hover .naturpic img {
    filter: blur(2px);
}

.delete-button {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.delete-button:hover {
    background-color: #0d0d0d;
}

.delete-button:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}





/* .naturepic:hover {
    opacity: 0.5;
} */


.like-button {
    border: none;
    background-color: rgb(49, 0, 128);
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    margin: 10px;
    content: 20px;
}